<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Panic.Repository.Properties.Settings.PanicConnectionString"
            connectionString="Data Source=|DataDirectory|\Panic.sdf;Password=Lemon1"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>